<section class="articles">
  <% data.forEach(post => { %>
  <div class="article-card">
    <h3><a href="/post/<%= post._id %>"><%= post.title %></a></h3>
    <p><%= post.body.substring(0, 120) %>...</p>
    <small><%= post.createdAt.toDateString() %></small>
  </div>
  <% }) %>
</section>

<% if(nextPage) { %>
<a href="/?page=<%= nextPage %>" class="btn">View Older Posts</a>
<% } %>
